body {
  background-color:   rgb(7, 50, 111);
}

.angelos {
    color:            red;
    background-color: green;
}

.marcos {
    color:            red;
    background-color: transparent;
}

.do_drop {
    color: white;
    background-color: green;
}

ol.spacey li strong {
    line-height: 2em;
}

ul.spacey li emphasis {
    line-height: 2em;
    font-family: fantasy;
}
