<html>
    <head>
        <meta charset="utf-8">
        <title>Eat Pizza</title>
    </head>
    <body>

        <h1>Best Pizza Spots</h1>

        <p>Where to get the best slice o' heaven:</p>
        <ol class="spacey">
            <li>
                <strong class="angelos">Angelo's Pizza Parlor</strong>
                <a target="_blank" href="http://www.angelospizzapie.com"> Check Angelo's Out!</a>
            </li>
            <li>
                <strong class="marcos">Marco's Coal Fired Pizza</strong>
                <a target="_blank" href="http://www.marcoscoalfiredpizza.com"> Check Marco's Out!</a>
            </li>
            <li>
                <strong class="do">Do Drop</strong>
            </li>
        </ul>

        <p>New York style is the <strong>best</strong> but deep dish is a good way to mix it up and is usually housed with better beers.</p>

    </body>
</html>
